*{margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;

}
h1{
  background-color: blue;
  color: aliceblue;
  height: 5rem;
  line-height: 5rem;
}
.choice{
  height: 155px;
  width: 155px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px;
}
.choice:active{
  box-shadow: 0px 0px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 3px;
}
img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.score{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#compscore,#myscore{
  font-size: 4rem;
  padding: 0;
  height: 5rem;
  width: 5rem;
}

#msg{
  background-color: black;
  color: aquamarine;
  font-size: 2rem;
  margin-top: 2rem;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
}